<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <% if @results.empty? %>
    <p>There were no matching results.</p>
  <% else %>
    <h2 class="content-subhead">Results for '<%= params[:query] %>'</h2>
    <ul>
      <% @results.each do |chapter| %>
        <li><%= chapter[:number] %>. <%= chapter[:name] %></li>
        <ul>
          <% chapter[:paragraph].each do |paragraph| %>
            <li><a href="chapters/<%= chapter[:number] %>#<%= paragraph.first %>"><%= bold(paragraph.last, params[:query]) %></a></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>
<% end %>